@import "tailwindcss";

body {
  font-family: "Roboto", sans-serif;
}

img {
  display: block;
}

li {
  list-style: none;
}

/* remove scrollbar */
::-webkit-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Hide scrollbar (cross-browser) */
::-webkit-scrollbar {
  display: none;
}
